.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    color: grey;
    font-size: small;
}

.footerText {
    margin: 0 10px;
    z-index: 2;
}