.header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 2;
    top: 0;
    padding: 10px 20px;
  }
  
  .title {
    flex-grow: 1;
    margin-left: 20px;
    color: white;
    font-size: large;
    z-index: 2;
  }
  

.navList {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  z-index: 2;
}

.navItem {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 2;
}

  
  .navItem:hover {
    color: #4caf50; 
    z-index: 2;
  }
  
