.container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 95vh;
}

.FluidAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profileName {
  font-size: 2rem; 
  font-weight: bold;
  margin: 5px 0; 
  z-index: 2; 
  color: "#fff";
}

.typing {
  text-align: center; 
  border-right: 2px solid;
  white-space: pre-wrap; 
  overflow: hidden;
  margin: 10px 0;
  z-index: 2; 
  color: "#fff";
}



.profileImage {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 20px; 
  transition: transform 0.3s ease; 
  z-index: 2; 
  
  
}

.profileImage:hover {
    transform: scale(1.1); 
}

.iconContainer {
  display: flex;
  justify-content: center; 
  width: 100%; 
  z-index: 20;
  height: 50px;
}

.iconLink {
  margin: 0 10px; 
  display: inline-block;
  transition: color 0.3s;
  z-index: 2;
  color: "#fff";
}

.iconLink:hover {
  color: #4caf50; 
  z-index: 2;
}