.projectsPage {
  background-color: black;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  display: grid;
  justify-content: center;
}
.projectCard {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px auto; 
    max-width: 400px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 10px; 
    overflow: hidden; 
    display: flex;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .imgContainer {
    height: 70%;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5%;
  }
  .projectCard img {
    width: 100%;
    height: auto;
  }
  
  .projectCard h2 {
    margin: 10px 0 5px; 
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .projectCard p {
    color: white;
    font-size: 0.9rem; 
    line-height: 1.4; 
    text-align: justify;
  }
  
  .projectContent {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1em;
    color: white;
  }

  .projectContent h1{
    font-size: 2em;
  }

  .projectContent a {
    color: #007bff; 
}


.markdownContent {
  text-align: left;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
}

.markdownContent p {
  margin: 1em;

}

.markdownContent h2 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  color: #007bff;
}

.markdownContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
